:root {
  --primary-color: #034d5a;
  --primary-text-color: #002930;
  --primary-divider-color: rgb(151, 151, 151);
  --secondary-text-color: rgb(80, 80, 80);
  --primary-error-color: rgb(139, 53, 53);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}